<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            color:   rgb(154, 119, 2);
            font-size: 18px;
        }
        .d1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10pc;
        }
        .d2{
            height: 20pc;
            width: 20pc;
            border: solid 3px;
            text-align: center;
            border-color:  rgb(154, 119, 2);
        }
       a{
            color:   rgb(154, 119, 2)
        }
        button{
            border:solid   rgb(154, 119, 2) 1px;
            color:   rgb(154, 119, 2);
        }
        input:active{
                color:   rgb(154, 119, 2);
        }
 
    </style>
</head>
<body>
    <div class="d1">
    <div class="d2">
    <h2><u>Login</u></h2><br>
    <form action="/sinsub" method="GET">
        
        <u>Email Id</u> : <input type="text" name="email"><br><br>
        <u>Password</u> : <input type="password" name="pwd"><br><br>
        <input id="" type="checkbox">Stay Signed in<br><br>
        <button>Login</button><br><br>
        <a href="">Forget Password...?</a><br><br>
       
    </form>
    </div>
    </div>
</body>
</html>