<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        body{
            color:   rgb(154, 119, 2);
            font-size: 18px;
        }
        .d1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10pc;
        }
        .d2{
            height: 23pc;
            width: 20pc;
            border: solid 3px;
            text-align: center;
            border-color:  rgb(154, 119, 2);
        }
       a{
            color:   rgb(154, 119, 2)
        }
        button{
            border:solid   rgb(154, 119, 2) 1px;
            color:   rgb(154, 119, 2);
        }
        input:active{
                color:   rgb(154, 119, 2);
        }
 
    </style>
    </style>
</head>
<body>
    <div class="d1">
        <div class="d2">
    <h2><u>Registration</u></h2>
    <form action="/supsub" method="GET">
       <u> Full name</u>:  <input type="text" name="fullnam"><br><br>
       <u>First name</u>: <input type="text" name="fnam"><br><br>
       <u> Middle name</u>: <input type="text" name="mnam"><br><br>
        <u>Last name</u>: <input type="text" name="lnam"><br><br>
        <u>EMAIL ID</u>: <input type="text" name="email"><br><br>
        <u> Password</u>: <input type="password" name="pwd"><br><br> 
        <button>SUBMIT</button><br><br>
    </form>
    </div>
    </div>
</body>
</html>